<form [formGroup]="formGroup">
    <app-chip-field 
        placeholder="select language" 
        formControlName="languages"
        [clientSideFilter]="clientSideFilter"
        [filteredOptions$]="filteredOptions$"
        [options]="languageOptions"
        [maxLen]="maxLanguage"
        [removable]="true"
        [isOptionString]="true"
        [isChipAddFromInput]="true"
        [required]="true"
        displayWith="name"
        itemId="code"
        [disabledSelected]="true"
        [debounceTime]="debounceTime"
        [isTabKeyboardSeparator]="true"
        (changeSearchkey)="onChangeSearchkey($event)">
    </app-chip-field>
</form>
