<form [formGroup]="form" class="form">
    <mat-form-field class="form-element">
        <mat-chip-list #chipList formControlName="control">
            <mat-chip *ngFor="let ctr of control.value" [removable]="true" (removed)="remove(ctr)">
                {{ ctr.value }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <!-- <mat-label>Fruits</mat-label> -->
            <input #input matInput [placeholder]="placeholder" (input)="changeInput($event.target.value)"
                [matChipInputFor]="chipList" [matAutocomplete]="ref" (matChipInputTokenEnd)="add($event)" required
                [disabled]="disabled">
            <mat-autocomplete #ref="matAutocomplete" (optionSelected)="onSelect($event)">
                <mat-option *ngFor="let ctr of filteredOptions" [value]="ctr">
                    {{ ctr.value }}
                </mat-option>
            </mat-autocomplete>
        </mat-chip-list>
        <!-- <mat-select formControlName="language">
            <mat-label>{{ placeholder }}</mat-label>
            <mat-option *ngFor="let lang of languageOptions" [value]="lang.key"> {{lang.value}}</mat-option>
        </mat-select> -->
    </mat-form-field>
</form>